<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
  if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('service-worker.js')
  .then(() => console.log('service worker installed'))
  .catch(err => console.log('Error', err));
}
</script>-->

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> -->

<script src="js/controllers.js"></script>
<script src="js/timercontroller.js"></script>
<script src = "js/Chart.min.js"></script>
<script src ="js/angular-chart.min.js"></script>
<script src="js/dataExchangeService.js"></script>
<!-- <script src="js/angular-timer.js"></script> -->
<!-- <script src="js/angular-timer.min.js"></script> -->


</head>
<body ng-app="starter" ng-controller="MainController" >
  <ion-pane>
    <ion-header-bar class="bar-positive">
      <h1 class="title"> Main Menu</h1>
    </ion-header-bar>

    <ion-content  class="has-header padding ion-central">




      <div  class="list card" >

        <div class="item item-icon-left item-stable">
          <i class="icon ion-ios-stopwatch-outline"></i>
          <p class='whitefont'> {{retrieves}}
          </p>

        </div>

        <div class="item item-icon-left item-assertive item-text-wrapper">
          <i class="icon ion-ios-pulse-strong"></i>
          <p class='whitefont'> {{currentData.hR }} </p>
        </div>

        <div class="item item-icon-left item-balanced">
          <i class="icon ion-leaf"></i>
          <p class='whitefont'> {{currentData.rR}}</p>

        </div>

        <div class="item item-icon-left item-calm">
          <i class="icon ion-arrow-graph-up-right"></i>
          <p class='whitefont'> {{currentData.sa02}} </p>
        </div>
      </div>
      <div>
        <p> Number of elements in the datasample array : {{testLengthDataSample}}</p>
      </div>

      <!-- <div ng-repeat = "data in datas">
      {{data.hR}}
      {{data.rR}}
      {{data.sa02}}
      {{data.time}}
    </div> -->
    <div>
      Current data =  <br/>
      {{currentData.hR}}
      {{currentData.rR}}
      {{currentData.sa02}}
      {{currentData.time}}

    </div>

    <div>

      <!-- Functions to test how things are implemented in the data array -->

      <!-- <button ng-click="simulateRead()">Add a sample like it was read</button>
      <button ng-click="simulateReadAfterTwoSecs()">Add a sample after 2 secs</button> -->
      <!-- <button ng-click="addSampleData()">Add a sample</button>
      <button ng-click="randomDataContinuously()">Randomdatacontinuously</button>
      <button ng-click="arrayTransformation()"> Array transformation </button>
      <button ng-click="showChart=true">Display chart </button> -->



    </div>

    <div>
      <div class="button-bar">
        <button class="button ion-play button-positive" ng-click="start(); randomDataContinuously()"></button>
        <button class="button ion-pause button-dark" ng-click="pause()"></button>
        <button class="button ion-stop button-positive" ng-click="stop();showResultsButton();"></button>
      </div>

      <div></div>

      <div>
        <button class="button button-block button-positive" ng-click="showChart=true" ng-show="showResults">
          Get my results
        </button>
      </div>

      <button class="button ion-play button-positive" ng-click="chartGeneration();showChart=true">Chart generation </button>

    </div>



    <!-- <div>
    <div ng-show="showChart">
    <canvas id="line" class="chart chart-line" chart-data="dataz"
    chart-labels="labels" chart-series="series" chart-options="options"
    chart-dataset-override="datasetOverride" chart-click="onClick"
  </canvas>
</div> -->

<!-- Below = chart with test class ! -->

<div>
  <div ng-show="showChart">
    <canvas id="line" class="chart chart-line" chart-data="datasTest"
    chart-labels="labelsTest" chart-series="seriesTest" chart-options="options"
    chart-dataset-override="datasetOverride" chart-click="onClick"
  </canvas>
</div>



</div>


</ion-content>



<ion-footer-bar class="footer bar-positive">
  <h1 class="title"> FlexiLight AB®</h1>

</ion-pane>

</body>
</html>
