<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">



  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<!-- cordova script (this will be a 404 during development) -->
<!-- <script src="js/ng-cordova.min.js"></script> -->
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> -->

<script src="js/controllers.js"></script>
<script src = "js/Chart.min.js"></script>
<script src ="js/angular-chart.min.js"></script>
<script src="js/dataExchangeService.js"></script>
<!-- <script src="js/angular-timer.js"></script> -->
<!-- <script src="js/angular-timer.min.js"></script> -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.2.1/math.min.js"></script> -->
<!-- Consider downloading the lib above !-->
<!-- <script src="js/moment.js"></script> -->



</head>
<body ng-app="starter" ng-controller="MainController" >
  <ion-pane>
    <ion-header-bar class="bar-positive">
      <h1 class="title"> Main Menu</h1>
    </ion-header-bar>

    <ion-content  class="has-header padding ion-central">

      <!--  First part is about data generation. Retrieves gives the timer,
      and currentdata.xx are the random data implemented in addSampleDataTest function,  the one
      that will need to be modified to recieve those coming from the sensor-->


      <div  class="list card" >

        <div class="item item-icon-left item-stable">
          <i class="icon ion-ios-stopwatch-outline"></i>
          <p class='whitefont'> {{retrieves}}
          </p>

        </div>

        <div class="item item-icon-left item-assertive item-text-wrapper">
          <i class="icon ion-ios-pulse-strong"></i>
          <p class='whitefont'> {{currentData.hR }} </p>
        </div>


        <!-- Breathing pattern-->
        <!-- <div class="item item-icon-left item-balanced">
        <i class="icon ion-leaf"></i>
        <p class='whitefont'> {{currentData.rR}}</p> -->

        <!-- </div> -->

        <div class="item item-icon-left item-calm">
          <i class="icon ion-arrow-graph-up-right"></i>
          <p class='whitefont'> {{currentData.sa02}} </p>
        </div>
      </div>

      <div class="table1">
        <!-- <form>
          <label class="item item-input">
            <input type="text" placeholder="CNE" ng-model="etudiant.cne"></label>
            <label class="item item-input">
              <input type="text" placeholder="Nom" ng-model="etudiant.nom"></label>
              <label class="item item-input">
                <input type="text" placeholder="Prenom" ng-model="etudiant.prenom"></label>
              </form> -->
              <!-- <button class="button button-block button-positive" ng-click="insert(etudiant);incrementSession()">Ajout étudiant </button>
<button class="button button-block button positive" ng-click="delete()">Clear the DB</button> -->
              <button class="button button-block button-positive" ng-click="insert(etudiant)">Store into database</button>
<button class="button button-block button positive" ng-click="delete()">Clear the database</button>
            </div>


<!-- testing purpose -->
<!-- <div>

<button class="button button-block button positive" ng-click="incrementSession()">COIIIIN</button>
count: {{ count }}

 </div> -->




            <!-- Code below shows the value of each data is added in the array -->
            <!-- <div>
            Current data =  <br/>
            {{currentData.hR}}
            {{currentData.rR}}
            {{currentData.sa02}}
            {{currentData.time}}

          </div> -->

          <!-- Second part, with the timer and graph. Play launches the timer and the data creation, pause currently does nothing, and
          stop stops the timer (not the data unfortunately.)
          When press is stop, another button appears, "Get my results", which will
          present a graph with the length of the timer and all the data! -->

          <div>
            <div class="button-bar">
              <button class="button ion-play button-positive" ng-click="start(); randomDataContinuously()"></button>
              <button class="button ion-pause button-dark" ng-click="pause()"></button>
              <button class="button ion-stop button-positive" ng-click="stop();showResultsButton();"></button>
            </div>


            <div>
              <p></p>
            </div>

            <div>
              <button class="button button-block button-positive" ng-click="showChart=true;chartGeneration()" ng-show="showResults">
                Get my results
              </button>
            </div>
            <!-- This last button is there on purpose to test,
            the function is analog to stop but it doesn't stop the timer
            while the graph appears and keeps being updated
            when the button is being clicked again. Eventually it will disappear
            on final version -->

            <button class="button ion-play button-positive" ng-click="chartGeneration();showChart=true">Chart generation </button>

          </div>



          <div>
            <p></p>
          </div>



          <div>
            <div ng-show="showChart">
              <canvas id="line" class="chart chart-line" chart-data="datasTest"
              chart-labels="labelsTest" chart-series="seriesTest" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors = "colors"
            </canvas>
          </div>



        </div>


      </ion-content>



      <ion-footer-bar class="footer bar-positive">
        <h1 class="title"> FlexiLight AB®</h1>

      </ion-pane>

    </body>
    </html>
